body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.first{
    display: flex;
    padding-left: 5%;
    
    
}
.color{
    color: red;
    
    font-size: 65px;
    width: 70%;
    border-left: 5px solid greenyellow;
    margin-left: 5px;
    padding-left: 5px;
}
#color2{
    color: rgb(255, 230, 0);
    font-size: 65px;
    width: 50%;
  
}
.second{
    width: 50%;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
    
}
.second img{
    width: 60%;
    margin: 20px 0px 10px 0px;
}
.pera{
    width: 70%;
}
.button{
    text-decoration: none;
    color: honeydew;
    background-image: linear-gradient(orange
    , red
    );
    text-align: center;
    padding: 10px 40px;
    border-radius: 5px;
}
#rong{
    color: maroon;

}
.tittle{
    text-align: center;
    font-size: 50px;
}
.third{
    background: khaki;
    width: 30%;
    margin-left: 5%;
    border-radius: 5%;
    
}
.box3{
    width: 90%;
    margin-left: 5%;
}
.third img{
    width: 50%;
    margin-left: 5%;
}
.box2{
    margin-left: 5%;
}

.fourth{
    background: rgba(139, 139, 255, 0.507);
    width: 30%;
    margin-left: 2%;
    border-radius: 5%;
}
.fourth img{
    width: 50%;
    margin-left: 5%;
}
.fifth{
    background: rgb(215, 255, 183);
    width: 30%;
    margin-left: 2%;
    border-radius: 5%;
}
.fifth img{
    width: 80%;
    margin-left: 5%;
}
.areh{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 150px;
}
.another{
    display: flex;
    padding-left: 5%;
    margin: auto;
    box-sizing: border-box;
    
}
.row{
    padding-left: 5%;
    box-sizing: border-box;
    margin: auto;
    
    
    
    
}
.row img{
  box-sizing: border-box;
  margin: auto;
  
    
}
.pera2{
    width: 70%;
    margin-left: 0px;
    padding-right: 5%;
    margin-bottom: 30px;
   margin-top: 0px;
}
.button2{
    text-decoration: none;
    color: honeydew;
    background-image: linear-gradient(orange
    , red
    );
    text-align: center;
    padding: 10px 40px;
    border-radius: 5px;
    margin: auto;
    
}
.two{
    font-size: 40px;
    width: 30%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 5%;
   
    
}

