body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.first{
    display: flex;
    padding-left: 5%;
    
    
}
.color{
    color: red;
    
    font-size: 65px;
    width: 70%;
    border-left: 5px solid greenyellow;
    margin-left: 5px;
    padding-left: 5px;
}
#color2{
    color: rgb(255, 230, 0);
    font-size: 65px;
    width: 50%;
  
}
.second{
    width: 50%;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
    
}
.second img{
    width: 60%;
    margin: 20px 0px 10px 0px;
}
.pera{
    width: 70%;
}
.button{
    text-decoration: none;
    color: honeydew;
    background-image: linear-gradient(orange
    , red
    );
    text-align: center;
    padding: 10px 40px;
    border-radius: 5px;
}
#rong{
    color: maroon;

}
.tittle{
    text-align: center;
    font-size: 50px;
}
.third{
    background: khaki;
    width: 30%;
    margin-left: 5%;
    border-radius: 5%;
    
}
.box3{
    width: 90%;
    margin-left: 5%;
}
.third img{
    width: 50%;
    margin-left: 5%;
}
.box2{
    margin-left: 5%;
}

.fourth{
    background: rgba(139, 139, 255, 0.507);
    width: 30%;
    margin-left: 2%;
    border-radius: 5%;
}
.fourth img{
    width: 50%;
    margin-left: 5%;
}
.fifth{
    background: rgb(215, 255, 183);
    width: 30%;
    margin-left: 2%;
    border-radius: 5%;
}
.fifth img{
    width: 80%;
    margin-left: 5%;
}
.areh{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 150px;
}
.another{
    display: flex;
    padding-left: 5%;
    margin: auto;
    box-sizing: border-box;
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: 110px;
    background-position-y: 50px;
    background-size: 80px;
    margin-bottom: 100px;
    
}
.row{
    padding-left: 5%;
    box-sizing: border-box;
    margin: auto;
    
    
    
    
}
.row img{
  box-sizing: border-box;
  margin: auto;
  
  
    
}
.pera2{
    width: 70%;
    margin-left: 0px;
    padding-right: 5%;
    margin-bottom: 30px;
   margin-top: 0px;
}
.button2{
    text-decoration: none;
    color: honeydew;
    background-image: linear-gradient(orange
    , red
    );
    text-align: center;
    padding: 10px 40px;
    border-radius: 5px;
    margin: auto;
    
}
.two{
    font-size: 40px;
    width: 30%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 5%;
   
    
}
.another1{
    display: flex;
    padding-left: 5%;
   margin-bottom: 150px;
    box-sizing: border-box;
   background-image: url(images/shapes/shape-1.png);
   background-repeat: no-repeat;
   background-size: 100px;
   background-position-x: 92%;
   background-position-y: 100%;
    
}
.row2{
    padding-left: 5%;
    box-sizing: border-box;
    
    width: 50%;
}
.row2 img{
    box-sizing: border-box;
    padding-right: 0px;
    
}
.two1{
    font-size: 40px;
    width: 50%;
    margin-top: 40px;
    margin-bottom: 0px;
    padding-right: 5%;
}
.pera3{
    width: 100%;
    margin-left: 0px;
    
    margin-bottom: 30px;
   margin-top: 0px;
}
.button3{
    text-decoration: none;
    color: honeydew;
    background-image: linear-gradient(orange
    , red
    );
    text-align: center;
    padding: 10px 40px;
    border-radius: 5px;
    margin: auto;
}
.last{
    display: flex;
    padding-left: 5%;
    
    box-sizing: border-box;
    
}
    
    
   

.header{
    color: red;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
    
}
.sesh{
    padding-left: 5%;
    box-sizing: border-box;
    margin-right: 0px;
    width: 50%;
}
.sesh img{
    box-sizing: border-box;
    margin-right: 0px;
  width: 80%;
}
  .pera4{
    width: 75%;
    ;
    text-align: justify;
   
    
    margin-bottom: 30px;
   
   background: rgba(127, 193, 255, 0.507);
   padding: 5% 5% 5% 5%;
    margin: 0%;

    border-radius: 5%;

    
  }
  .button5{
    text-decoration: none;
    color: honeydew;
    background-image: linear-gradient(orange
    , red
    );
    text-align: center;
    padding: 10px 40px;
    border-radius: 5px;
    
    margin-left: 215px;
    margin-right: 0px;
    margin-bottom: 0px;
  }